body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('imgs/bg.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Add opacity to make the container more readable */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #777;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0;
    display: block;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
}

#countryCodeLabel {
    display: none;
}

#countryCode {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    display: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#inputContainer {
    margin-top: 10px;
}

.login-link p {
    color: #0b0b0b;
    margin-top: 10px;
}

.login-link a {
    color: #0b0b0b;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
